[tool.black]
line-length = 100
target-version = ["py310"]

[tool.ruff]
line-length = 100
target-version = "py310"
select = ["E", "F", "I", "UP", "D"]
ignore = ["D100", "D104"]
fix = true
exclude = ["alembic/*"]

